.block--block-1 {
  width: 60%;
  float: left;
  .block__content {
    p {
      @include font-size(24px);
      font-weight: 700;
      color: $bg-dark;
      text-align: left;
    }
  }
}

@include breakpoint($mobile-landscape) {
  .block--block-1 {
    width: 100%;
    .block__content {
      p {
        @include font-size(24px);
        text-align: right;
        margin-bottom: $vert-spacing-unit/2;
      }
    }
  }
}


