.block--block-3 {
  float:left;
  margin-top: $vert-spacing-unit;
  p {
    margin-bottom: $vert-spacing-unit;
    @include font-size(18px);
    &:nth-last-child(1) {
      @include font-size(28px);
      font-weight: bold;
    }
  }
}

.block--multiblock-5 {
  margin-top: $vert-spacing-unit;
  p {
    margin-bottom: $vert-spacing-unit;
    @include font-size(18px);
    &:nth-last-child(1) {
      @include font-size(28px);
      font-weight: bold;
    }
  }
}