.l-branding {
  text-align: center;
  h2.site-slogan {
    display: inline-block;
    color: $bg-dark;
    @include font-size(16px);
    font-weight: 400;
    line-height: 25px;
    font-family: $pt-sans;
    text-align: center;
    margin-bottom: $vert-spacing-unit;
  }
}

@include breakpoint($mobile-landscape) {
  .l-branding {
    h2.site-slogan {
      display: inline-block;
      @include font-size(16px);
      font-weight: 400;
      line-height: 25px;
      width: 100%;
      padding-left: $horz-spacing-unit;
      text-align: left;
    }
  }
}

@include breakpoint($small-tablet-landscape) {
  .l-branding {
    text-align: left;
    a {
      float: left;
    }
    h2.site-slogan {
      display: inline-block;
      @include font-size(16px);
      font-weight: 400;
      line-height: 25px;
      width: 100%;
      padding-left: $horz-spacing-unit;
      text-align: left;
    }
  }
}

@include breakpoint($tablet-portrait) {
  .l-branding {
    text-align: left;
    a {
      float: left;
    }
    h2.site-slogan {
      display: inline-block;
      @include font-size(16px);
      font-weight: 400;
      line-height: 25px;
      width: 100%;
      padding-left: $horz-spacing-unit;
      text-align: left;
    }
  }
}

@include breakpoint($tablet-landscape) {
  .l-branding {
    h2.site-slogan {
      display: inline-block;
      @include font-size(16px);
      font-weight: 400;
      line-height: 25px;
      width: 100%;
      padding-left: $horz-spacing-unit;
      text-align: left;
    }
  }
}


@include breakpoint($desk) {
  .l-branding {
    h2.site-slogan {
      margin-top: 25px;
      display: inline-block;
      @include font-size(16px);
      font-weight: 400;
      line-height: 25px;
      width: 52%;
      padding-left: $horz-spacing-unit;
      text-align: left;
    }
  }
}