.l-ptitle-unconstrained {
  background: url("../images/dtd_title_image_320.png");
  background-repeat: no-repeat;
  background-position:center bottom;
  height: 195px;
  background-size: 100% 32%;
  .l-ptitle {
    h1 {
      @include font-size(26px);
    }
  }
}

@include breakpoint($mobile-landscape) {
  .l-ptitle-unconstrained {
    background: url("../images/dtd_title_image_480.png");
    background-repeat: no-repeat;
    background-position:center bottom;
    background-size: 100% 30%;
    height: 195px;
    .l-ptitle {
      h1 {
        @include font-size(30px);
      }
    }
  }
}

@include breakpoint($small-tab-portrait) {
  .l-ptitle-unconstrained {
    background: url("../images/dtd_title_image_600.png");
    background-repeat: no-repeat;
    background-position:center bottom;
    background-size: 100% 50%;
    height: 195px;
    .l-ptitle {
      h1 {
        @include font-size(40px);
      }
    }
  }
}

/*hgj*/

@include breakpoint($tablet-portrait) {
  .l-ptitle-unconstrained {
    background: url("../images/dtd_title_image_768.png");
    background-repeat: no-repeat;
    background-position:center bottom;
    background-size: 100% 45%;
    height: 195px;
    .l-ptitle {
      h1 {
        @include font-size(40px);
      }
    }
  }
}

@include breakpoint($small-tablet-landscape) {
  .l-ptitle-unconstrained {
    background: url("../images/dtd_title_image_768.png");
    background-repeat: no-repeat;
    background-position:left bottom;
    background-size: 100% 46%;
    height: 195px;
  }
}

@include breakpoint($tab) {
  .l-ptitle-unconstrained {
    background: url("../images/dtd_title_image_1024.png");
    background-repeat: no-repeat;
    background-position:left bottom;
    background-size: 75% 46%;
    height: 195px;
    .l-ptitle {
      h1 {
        @include font-size(44px);
      }
    }
  }
}

@include breakpoint($desk) {
  .l-ptitle-unconstrained {
    background: url("../images/dtd_title_image_1400.png");
    background-repeat: no-repeat;
    background-position:0% bottom;
    background-size: 56% 40%;
    height: 165px;
    .l-ptitle {
      h1 {
        @include font-size(44px);
      }
    }
  }
}

@include breakpoint(1300px) {
  .l-ptitle-unconstrained {
    background: url("../images/dtd_title_image_1400.png");
    background-repeat: no-repeat;
    background-position:10% bottom;
    background-size: 70% 40%;
    height: 165px;
    .l-ptitle {
      h1 {
        @include font-size(44px);
      }
    }
  }
}

@include breakpoint(1600px) {
  .l-ptitle-unconstrained {
    background: url("../images/dtd_title_image_1400.png");
    background-repeat: no-repeat;
    background-position:40% bottom;
    background-size: 55% 40%;
    height: 165px;
    .l-ptitle {
      h1 {
        @include font-size(44px);
      }
    }
  }
}

