@charset "UTF-8";
/*=========================*/
/**
 * $ARROW
 */
/**
 * $HLIST
 */
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600);
/* line 4, ../sass/abstractions/_hlist.scss */
.l-region--footer-bottom .block--menu-menu-privacy ul.menu, .action-links, .block--menu-menu-secondary-menu .menu, .breadcrumb, .block--system-main-menu .menu {
  margin: 0;
  padding: 0;
  border: 0; }
  /* line 13, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/toolkit-2.6.0/stylesheets/toolkit/_clearfix.scss */
  .l-region--footer-bottom .block--menu-menu-privacy ul.menu:after, .action-links:after, .block--menu-menu-secondary-menu .menu:after, .breadcrumb:after, .block--system-main-menu .menu:after {
    content: "";
    display: table;
    clear: both; }
  /* line 62, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .l-region--footer-bottom .block--menu-menu-privacy ul.menu li, .action-links li, .block--menu-menu-secondary-menu .menu li, .breadcrumb li, .block--system-main-menu .menu li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left; }

/**
 * $ISLAND
 */
/* line 4, ../sass/abstractions/_island.scss */
.comment__content {
  display: block;
  margin-bottom: 1.42857em; }
  /* line 13, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/toolkit-2.6.0/stylesheets/toolkit/_clearfix.scss */
  .comment__content:after, .field--type-taxonomy-term-reference .field__items:after, .pager:after, .site-branding:after {
    content: "";
    display: table;
    clear: both; }
  /* line 10, ../sass/abstractions/_island.scss */
  .comment__content > :last-child, .comment__content > :last-child {
    margin-bottom: 0; }

/* line 16, ../sass/abstractions/_island.scss */
.comment__content {
  padding: 18px 1em; }

/* line 4, ../sass/base/_forms.scss */
select:focus,
input:focus,
textarea:focus {
  -moz-box-shadow: 0 0 4px 1px rgba(236, 145, 96, 0.3);
  -webkit-box-shadow: 0 0 4px 1px rgba(236, 145, 96, 0.3);
  box-shadow: 0 0 4px 1px rgba(236, 145, 96, 0.3);
  outline: 1px solid #ec9160; }

/* line 10, ../sass/base/_forms.scss */
fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 9px 1em 18px 1em;
  border-color: #e8e8e8; }

/* line 18, ../sass/base/_forms.scss */
legend {
  font-size: 18px;
  font-size: 1.28571rem;
  padding: 0 0.8em;
  color: #daddbd; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

/**
 * $TABLES
 */
/* line 4, ../sass/base/_tables.scss */
table {
  width: 100%;
  margin-bottom: 18px; }

/* line 9, ../sass/base/_tables.scss */
th {
  padding: 0.5em 1em;
  background-color: #077dc3;
  color: #fff; }
  /* line 14, ../sass/base/_tables.scss */
  th a,
  th a.active {
    color: #fff; }
    /* line 18, ../sass/base/_tables.scss */
    th a img,
    th a.active img {
      margin: 2px 3px; }

/* line 23, ../sass/base/_tables.scss */
td {
  padding: 0.5em 1em; }

/* line 27, ../sass/base/_tables.scss */
tr.odd {
  background: #e7f1f5; }

/* line 30, ../sass/base/_tables.scss */
tr.even {
  background: #f6fafb; }

/**
 * $FONT-FACE
 */
/* line 106, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 1.42857em; }

/**
 * $BASE-TYPOGRAPHY
 */
/* line 14, ../sass/base/_typography.scss */
html {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #222222; }

/**
 * $LINKS  link-colors($normal, $hover, $active, $visited, $focus)
 */
/* line 23, ../sass/base/_typography.scss */
a {
  color: #1e3578; }
  /* line 18, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:visited {
    color: #ffffff; }
  /* line 21, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:focus {
    color: #000; }
  /* line 24, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: #000; }
  /* line 27, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:active {
    color: #ffffff; }

/**
 * $HEADINGS
 */
/* line 30, ../sass/base/_typography.scss */
h1, .alpha,
h2, .beta,
h3, .gamma, .site-branding__name,
h4, .delta, caption,
h5, .epsilon,
h6, .zeta {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.28571em;
  color: #1e3578;
  font-family: "Shadows Into Light", cursive;
  /*text-transform: uppercase;*/ }
  /* line 41, ../sass/base/_typography.scss */
  h1 a,
  h1 a:visited, .alpha a,
  .alpha a:visited,
  h2 a,
  h2 a:visited, .beta a,
  .beta a:visited,
  h3 a,
  h3 a:visited, .gamma a, .site-branding__name a,
  .gamma a:visited,
  .site-branding__name a:visited,
  h4 a,
  h4 a:visited, .delta a, caption a,
  .delta a:visited,
  caption a:visited,
  h5 a,
  h5 a:visited, .epsilon a,
  .epsilon a:visited,
  h6 a,
  h6 a:visited, .zeta a,
  .zeta a:visited {
    color: inherit;
    text-decoration: none; }
  /* line 46, ../sass/base/_typography.scss */
  h1 a:hover, .alpha a:hover,
  h2 a:hover, .beta a:hover,
  h3 a:hover, .gamma a:hover, .site-branding__name a:hover,
  h4 a:hover, .delta a:hover, caption a:hover,
  h5 a:hover, .epsilon a:hover,
  h6 a:hover, .zeta a:hover {
    color: #064771; }

/* line 51, ../sass/base/_typography.scss */
h1, .alpha {
  font-size: 40px;
  font-size: 2.85714rem;
  font-weight: 700;
  line-height: 55px;
  color: #000; }

/* line 57, ../sass/base/_typography.scss */
h2, .beta {
  font-size: 34px;
  font-size: 2.42857rem;
  font-weight: 700;
  color: #077dc3;
  line-height: 34px; }

/* line 63, ../sass/base/_typography.scss */
h3, .gamma, .site-branding__name {
  font-size: 21px;
  font-size: 1.5rem; }

/* line 66, ../sass/base/_typography.scss */
h4, .delta, caption {
  font-size: 18px;
  font-size: 1.28571rem; }

/* line 69, ../sass/base/_typography.scss */
h5, .epsilon {
  font-size: 16px;
  font-size: 1.14286rem;
  font-weight: 700; }

/* line 73, ../sass/base/_typography.scss */
h6, .zeta {
  font-size: 16px;
  font-size: 1.14286rem;
  color: #077dc3; }

/**
 * $PARAGRAPHS
 */
/* line 81, ../sass/base/_typography.scss */
p,
blockquote {
  margin: 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.42857em;
  font-size: 14px;
  font-size: 1rem;
  line-height: 21px; }

/* line 88, ../sass/base/_typography.scss */
p + img {
  float: left;
  margin-right: 1em; }

/**
 * $QUOTES
 */
/* line 96, ../sass/base/_typography.scss */
blockquote {
  margin-top: 0em;
  padding-top: 1.42857em;
  padding-bottom: 1.42857em;
  margin-bottom: 1.42857em;
  padding: 0 1.5em;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.35714em;
  border-left-width: 0.71429em;
  border-left-style: solid;
  padding-left: 0.71429em;
  font-style: italic;
  color: #064771; }
  /* line 106, ../sass/base/_typography.scss */
  blockquote p {
    margin: 0; }

/* line 111, ../sass/base/_typography.scss */
q {
  font-style: italic; }

/**
 * $MARKS
 */
/* line 118, ../sass/base/_typography.scss */
mark,
.marker {
  padding: 0.1em 0.5em;
  background: #52b1ea;
  color: #fff;
  font-size: 12px;
  font-size: 0.85714rem;
  text-transform: capitalize;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* line 1, ../sass/components/blocks/_block--block-3.scss */
.block--block-3 {
  float: left;
  margin-top: 18px; }
  /* line 4, ../sass/components/blocks/_block--block-3.scss */
  .block--block-3 p {
    margin-bottom: 18px;
    font-size: 18px;
    font-size: 1.28571rem; }
    /* line 7, ../sass/components/blocks/_block--block-3.scss */
    .block--block-3 p:nth-last-child(1) {
      font-size: 28px;
      font-size: 2rem;
      font-weight: bold; }

/* line 14, ../sass/components/blocks/_block--block-3.scss */
.block--multiblock-5 {
  margin-top: 18px; }
  /* line 16, ../sass/components/blocks/_block--block-3.scss */
  .block--multiblock-5 p {
    margin-bottom: 18px;
    font-size: 18px;
    font-size: 1.28571rem; }
    /* line 19, ../sass/components/blocks/_block--block-3.scss */
    .block--multiblock-5 p:nth-last-child(1) {
      font-size: 28px;
      font-size: 2rem;
      font-weight: bold; }

/* line 1, ../sass/components/blocks/_block--block-tel.scss */
.block--block-1 {
  width: 60%;
  float: left; }
  /* line 5, ../sass/components/blocks/_block--block-tel.scss */
  .block--block-1 .block__content p {
    font-size: 24px;
    font-size: 1.71429rem;
    font-weight: 700;
    color: #1e3578;
    text-align: left; }

/* line 1, ../sass/components/blocks/_block-faq-faq-categories.scss */
.block--faq-faq-categories {
  display: none; }

/* line 5, ../sass/components/blocks/_block-faq-faq-categories.scss */
.faq-header {
  color: #1e3578;
  border-bottom: 1px solid #1e3578; }

/* line 9, ../sass/components/blocks/_block-faq-faq-categories.scss */
.faq-category-group {
  margin-bottom: 36px; }

/* line 13, ../sass/components/blocks/_block-faq-faq-categories.scss */
.faq-question {
  border-bottom: 1px solid #1e3578; }
  /* line 15, ../sass/components/blocks/_block-faq-faq-categories.scss */
  .faq-question span {
    display: block;
    margin: 10px 0;
    color: #1e3578;
    text-decoration: none;
    font-size: 18px;
    font-size: 1.28571rem;
    padding-top: 0px; }
    /* line 23, ../sass/components/blocks/_block-faq-faq-categories.scss */
    .faq-question span:hover {
      color: #00a3dc; }

/* line 28, ../sass/components/blocks/_block-faq-faq-categories.scss */
.faq-answer {
  padding: 18px 5px; }

/**
 * $COMMENT-WRAPPER
 */
/* line 4, ../sass/components/comments/_comment-wrapper.scss */
.comment-wrapper {
  padding: 18px 1em;
  background-color: #d9e9ef; }

/**
 * $COMMENT
 */
/* line 4, ../sass/components/comments/_comment.scss */
.comment__info {
  margin-top: 18px;
  margin-bottom: 18px; }
  /* line 8, ../sass/components/comments/_comment.scss */
  .comment__info .username {
    margin-bottom: 9px;
    color: #52b1ea;
    text-transform: uppercase;
    text-decoration: none; }
    /* line 15, ../sass/components/comments/_comment.scss */
    .comment__info .username:hover {
      text-decoration: underline; }

/* line 21, ../sass/components/comments/_comment.scss */
.comment__content {
  background-color: #fff; }

/* line 27, ../sass/components/comments/_comment.scss */
.comment__submitted {
  display: inline; }

/* line 32, ../sass/components/comments/_comment.scss */
.comment__info {
  float: left;
  width: 25%;
  text-align: center; }
  /* line 38, ../sass/components/comments/_comment.scss */
  .comment__info .user-picture {
    width: 70%;
    margin: 0 auto 9px auto; }
  /* line 42, ../sass/components/comments/_comment.scss */
  .comment__info .username {
    display: block; }

/* line 47, ../sass/components/comments/_comment.scss */
.comment__content {
  float: right;
  width: 70%;
  margin-left: 5%;
  position: relative;
  background: #FFF; }
  /* line 28, ../sass/abstractions/_arrow.scss */
  .comment__content:after, .comment__content:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  /* line 50, ../sass/abstractions/_arrow.scss */
  .comment__content:after {
    border-color: transparent;
    border-right-color: #FFF;
    border-width: 20px;
    top: 50%;
    margin-left: -20px; }
  /* line 54, ../sass/components/comments/_comment.scss */
  .comment__content:after {
    top: 20px; }

/* line 59, ../sass/components/comments/_comment.scss */
.comment__submitted {
  display: block;
  margin-bottom: 9px; }

/**
 * $FIELD-TAXONOMY-TERM
 */
/* line 8, ../sass/components/fields/_field-taxonomy-term.scss */
.field--type-taxonomy-term-reference .field__item {
  float: left;
  margin-right: 0.5em; }

/**
 * $FIELD
 */
/* line 4, ../sass/components/fields/_field.scss */
.field {
  margin-bottom: 1.42857em; }

/* line 1, ../sass/components/footer/_footer-1.scss */
.l-region--footer-first {
  padding-top: 18px; }
  /* line 3, ../sass/components/footer/_footer-1.scss */
  .l-region--footer-first h2.block__title {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-size: 1.42857rem;
    color: #ffffff; }
  /* line 10, ../sass/components/footer/_footer-1.scss */
  .l-region--footer-first .view-holidays-menu .item-list ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 11, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_bullets.scss */
    .l-region--footer-first .view-holidays-menu .item-list ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0; }
    /* line 17, ../sass/components/footer/_footer-1.scss */
    .l-region--footer-first .view-holidays-menu .item-list ul a {
      color: #ffffff;
      font-size: 14px;
      font-size: 1rem;
      line-height: 28px;
      text-decoration: none; }
      /* line 18, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
      .l-region--footer-first .view-holidays-menu .item-list ul a:visited {
        color: #ffffff; }
      /* line 21, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
      .l-region--footer-first .view-holidays-menu .item-list ul a:focus {
        color: #ffffff; }
      /* line 24, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
      .l-region--footer-first .view-holidays-menu .item-list ul a:hover {
        color: #00a3dc; }
      /* line 27, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
      .l-region--footer-first .view-holidays-menu .item-list ul a:active {
        color: #ffffff; }

/* line 1, ../sass/components/footer/_footer-2.scss */
.l-region--footer-second {
  width: 100% !important; }
  /* line 3, ../sass/components/footer/_footer-2.scss */
  .l-region--footer-second .block--menu-menu-more-information {
    padding-top: 18px; }
    /* line 5, ../sass/components/footer/_footer-2.scss */
    .l-region--footer-second .block--menu-menu-more-information h2.block__title {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-size: 1.42857rem; }
    /* line 11, ../sass/components/footer/_footer-2.scss */
    .l-region--footer-second .block--menu-menu-more-information ul.menu {
      list-style: none;
      margin: 0;
      padding: 0; }
      /* line 11, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_bullets.scss */
      .l-region--footer-second .block--menu-menu-more-information ul.menu li {
        list-style-image: none;
        list-style-type: none;
        margin-left: 0; }
      /* line 18, ../sass/components/footer/_footer-2.scss */
      .l-region--footer-second .block--menu-menu-more-information ul.menu .delimiter {
        display: none; }
      /* line 21, ../sass/components/footer/_footer-2.scss */
      .l-region--footer-second .block--menu-menu-more-information ul.menu a {
        color: #ffffff;
        font-size: 14px;
        font-size: 1rem;
        line-height: 28px;
        text-decoration: none; }
        /* line 18, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
        .l-region--footer-second .block--menu-menu-more-information ul.menu a:visited {
          color: #ffffff; }
        /* line 21, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
        .l-region--footer-second .block--menu-menu-more-information ul.menu a:focus {
          color: #ffffff; }
        /* line 24, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
        .l-region--footer-second .block--menu-menu-more-information ul.menu a:hover {
          color: #00a3dc; }
        /* line 27, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
        .l-region--footer-second .block--menu-menu-more-information ul.menu a:active {
          color: #ffffff; }
  /* line 30, ../sass/components/footer/_footer-2.scss */
  .l-region--footer-second .block--multiblock-3 {
    padding-top: 18px; }
    /* line 32, ../sass/components/footer/_footer-2.scss */
    .l-region--footer-second .block--multiblock-3 .block__title {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-size: 1.42857rem; }
    /* line 37, ../sass/components/footer/_footer-2.scss */
    .l-region--footer-second .block--multiblock-3 .view-social-icons {
      display: inline-block;
      float: left; }
      /* line 40, ../sass/components/footer/_footer-2.scss */
      .l-region--footer-second .block--multiblock-3 .view-social-icons .views-row {
        float: left;
        margin-right: 5px; }

/* line 49, ../sass/components/footer/_footer-2.scss */
.l-region--footer-second {
  width: 33.33% !important; }

/* line 2, ../sass/components/footer/_footer-3.scss */
.l-region--footer-third .block--webform-client-block-213 {
  clear: both;
  padding-top: 18px; }
  /* line 5, ../sass/components/footer/_footer-3.scss */
  .l-region--footer-third .block--webform-client-block-213 h2.block__title {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-size: 1.42857rem; }
  /* line 10, ../sass/components/footer/_footer-3.scss */
  .l-region--footer-third .block--webform-client-block-213 .webform-client-form-213 {
    padding-top: 18px; }
  /* line 14, ../sass/components/footer/_footer-3.scss */
  .l-region--footer-third .block--webform-client-block-213 .webform-submit {
    float: right;
    height: 30px;
    font-size: 16px;
    font-size: 1.14286rem; }

/* line 1, ../sass/components/footer/_footer-bottom.scss */
.l-region--footer-bottom {
  padding-top: 30px;
  clear: both; }
  /* line 4, ../sass/components/footer/_footer-bottom.scss */
  .l-region--footer-bottom .block--menu-menu-privacy {
    width: 100%;
    text-align: center;
    padding-top: 18px; }
    /* line 8, ../sass/components/footer/_footer-bottom.scss */
    .l-region--footer-bottom .block--menu-menu-privacy ul.menu {
      display: inline-block; }
      /* line 11, ../sass/components/footer/_footer-bottom.scss */
      .l-region--footer-bottom .block--menu-menu-privacy ul.menu a {
        color: #ffffff;
        text-decoration: none; }
        /* line 18, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
        .l-region--footer-bottom .block--menu-menu-privacy ul.menu a:visited {
          color: #ffffff; }
        /* line 21, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
        .l-region--footer-bottom .block--menu-menu-privacy ul.menu a:focus {
          color: #ffffff; }
        /* line 24, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
        .l-region--footer-bottom .block--menu-menu-privacy ul.menu a:hover {
          color: #00a3dc; }
        /* line 27, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
        .l-region--footer-bottom .block--menu-menu-privacy ul.menu a:active {
          color: #ffffff; }
      /* line 15, ../sass/components/footer/_footer-bottom.scss */
      .l-region--footer-bottom .block--menu-menu-privacy ul.menu .delimiter {
        color: #ffffff;
        padding: 0 1em; }
  /* line 21, ../sass/components/footer/_footer-bottom.scss */
  .l-region--footer-bottom .block--block-2 {
    text-align: center;
    padding-bottom: 18px; }
    /* line 24, ../sass/components/footer/_footer-bottom.scss */
    .l-region--footer-bottom .block--block-2 p {
      color: #ffffff;
      margin: 0; }

/* line 1, ../sass/components/footer/_footer.scss */
.l-footer-unconstrained {
  background: #1e3578; }

/* line 5, ../sass/components/footer/_footer.scss */
.l-footer {
  margin-bottom: 0px !important; }

/* line 1, ../sass/components/forms/_booking-enquiry.scss */
.block--webform-client-block-216 {
  max-width: 100%;
  background: #00a3dc;
  padding: 18px 1em; }
  /* line 5, ../sass/components/forms/_booking-enquiry.scss */
  .block--webform-client-block-216 .block__title {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 27px;
    font-size: 1.92857rem;
    margin-bottom: 18px; }
  /* line 11, ../sass/components/forms/_booking-enquiry.scss */
  .block--webform-client-block-216 .form-actions {
    text-align: right; }
  /* line 14, ../sass/components/forms/_booking-enquiry.scss */
  .block--webform-client-block-216 .button--primary {
    background: #1e3578; }
  /* line 18, ../sass/components/forms/_booking-enquiry.scss */
  .block--webform-client-block-216 textarea {
    max-width: 100%;
    min-width: 100%; }

/**
 * $COLLAPSIBLE
 */
/* line 4, ../sass/components/forms/_collapsible.scss */
html.js fieldset.collapsible {
  padding: 0;
  border: none; }
  /* line 8, ../sass/components/forms/_collapsible.scss */
  html.js fieldset.collapsible legend {
    width: 100%;
    padding: 0; }
  /* line 12, ../sass/components/forms/_collapsible.scss */
  html.js fieldset.collapsible .fieldset-legend {
    padding: 0;
    background: none; }
    /* line 16, ../sass/components/forms/_collapsible.scss */
    html.js fieldset.collapsible .fieldset-legend .summary {
      float: right; }
  /* line 20, ../sass/components/forms/_collapsible.scss */
  html.js fieldset.collapsible .fieldset-title {
    display: block;
    padding: 1em;
    background-color: #e8e8e8;
    color: #077dc3;
    text-decoration: none; }
    /* line 29, ../sass/components/forms/_collapsible.scss */
    html.js fieldset.collapsible .fieldset-title:hover {
      background-color: #d9e9ef;
      color: #064771; }
  /* line 34, ../sass/components/forms/_collapsible.scss */
  html.js fieldset.collapsible .fieldset-wrapper {
    padding: 18px 1em;
    border: 1px solid #e8e8e8; }

/* line 40, ../sass/components/forms/_collapsible.scss */
html.js fieldset.collapsed {
  height: 3.7em; }

/* line 1, ../sass/components/forms/_contact-us.scss */
.block--webform-client-block-217 {
  max-width: 100%;
  float: right;
  background: #00a3dc;
  padding: 18px 1em;
  margin-bottom: 18px;
  margin-top: 18px; }
  /* line 8, ../sass/components/forms/_contact-us.scss */
  .block--webform-client-block-217 .block__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 18px; }
  /* line 14, ../sass/components/forms/_contact-us.scss */
  .block--webform-client-block-217 .button--primary {
    background: #1e3578;
    float: right; }
  /* line 19, ../sass/components/forms/_contact-us.scss */
  .block--webform-client-block-217 textarea {
    max-width: 100%;
    min-width: 100%; }

/* line 26, ../sass/components/forms/_contact-us.scss */
.block--multiblock-4 {
  background: #00a3dc;
  width: 100%;
  float: right; }
  /* line 31, ../sass/components/forms/_contact-us.scss */
  .block--multiblock-4 .block__title {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-size: 1.78571rem;
    color: #ffffff;
    margin: 10px 10px 0px 15px; }
  /* line 38, ../sass/components/forms/_contact-us.scss */
  .block--multiblock-4 .webform-client-form-217 {
    width: 100%;
    float: right;
    background: #00a3dc;
    padding: 18px 1em;
    margin-bottom: 18px; }
    /* line 44, ../sass/components/forms/_contact-us.scss */
    .block--multiblock-4 .webform-client-form-217 .block__title {
      font-family: "Open Sans", sans-serif;
      color: #ffffff !important;
      margin-bottom: 18px; }
    /* line 49, ../sass/components/forms/_contact-us.scss */
    .block--multiblock-4 .webform-client-form-217 .button--primary {
      background: #1e3578; }
    /* line 53, ../sass/components/forms/_contact-us.scss */
    .block--multiblock-4 .webform-client-form-217 textarea {
      max-width: 100%;
      min-width: 100%; }

/* line 65, ../sass/components/forms/_contact-us.scss */
.block--webform-client-block-217 {
  background: #00a3dc;
  padding: 18px 1em; }
  /* line 68, ../sass/components/forms/_contact-us.scss */
  .block--webform-client-block-217 .block__title {
    color: #ffffff;
    margin-bottom: 18px; }
  /* line 72, ../sass/components/forms/_contact-us.scss */
  .block--webform-client-block-217 .button--primary {
    background: #1e3578; }
  /* line 76, ../sass/components/forms/_contact-us.scss */
  .block--webform-client-block-217 textarea {
    max-width: 100%;
    min-width: 100%; }

/* line 83, ../sass/components/forms/_contact-us.scss */
.block--multiblock-4 {
  width: 32%;
  float: right; }
  /* line 87, ../sass/components/forms/_contact-us.scss */
  .block--multiblock-4 .webform-client-form-217 {
    width: 100%;
    float: right;
    background: #00a3dc;
    padding: 18px 1em; }
    /* line 92, ../sass/components/forms/_contact-us.scss */
    .block--multiblock-4 .webform-client-form-217 .block__title {
      color: #ffffff;
      margin-bottom: 18px; }
    /* line 96, ../sass/components/forms/_contact-us.scss */
    .block--multiblock-4 .webform-client-form-217 .button--primary {
      background: #1e3578;
      float: right; }
    /* line 101, ../sass/components/forms/_contact-us.scss */
    .block--multiblock-4 .webform-client-form-217 textarea {
      max-width: 100%;
      min-width: 100%; }

/**
 * $FIELDSETS
 */
/* line 4, ../sass/components/forms/_fieldsets.scss */
.form-wrapper {
  margin-bottom: 18px; }

/* line 9, ../sass/components/forms/_fieldsets.scss */
.fieldset-description {
  margin-bottom: 9px;
  color: #daddbd;
  font-style: italic; }

/* line 15, ../sass/components/forms/_fieldsets.scss */
.vertical-tabs fieldset.vertical-tabs-pane {
  padding: 18px 1em; }

/**
 * $FILTER-TIPS
 */
/* line 4, ../sass/components/forms/_filter-tips.scss */
.filter-wrapper {
  background-color: #fff; }

/**
 * $FORM-ITEM
 */
/* line 4, ../sass/components/forms/_form-items.scss */
.form-item {
  color: #000; }
  /* line 7, ../sass/components/forms/_form-items.scss */
  .form-item label {
    margin-bottom: 0.4em; }
  /* line 10, ../sass/components/forms/_form-items.scss */
  .form-item .form-select,
  .form-item .form-text,
  .form-item .form-textarea {
    width: 100%;
    padding: 0.6em;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    color: #000;
    vertical-align: middle; }
  /* line 20, ../sass/components/forms/_form-items.scss */
  .form-item .description {
    margin-top: 0.2em;
    font-style: italic; }

/* line 27, ../sass/components/forms/_form-items.scss */
.container-inline .form-select,
.container-inline .form-text,
.container-inline .form-textarea {
  width: auto; }

/**
 * $PASSWORD-CONFIRM
 */
/* line 4, ../sass/components/forms/_password-confirm.scss */
div.password-indicator,
div.password-confirm {
  margin-top: 0; }

/* line 9, ../sass/components/forms/_password-confirm.scss */
div.password-indicator {
  margin-bottom: 0.4em; }

/**
 * $PASSWORD-INDICATOR
 */
/* line 4, ../sass/components/forms/_password-indicator.scss */
.password-indicator {
  height: 0.8em;
  background: none;
  border: 1px solid #e8e8e8; }
  /* line 9, ../sass/components/forms/_password-indicator.scss */
  .password-indicator .indicator {
    background: #efa47b; }

/* line 14, ../sass/components/forms/_password-indicator.scss */
.password-strength-title {
  margin-bottom: 0.2em; }

/**
 * $SEARCH-FORM
 */
/* line 5, ../sass/components/forms/_search-form.scss */
.search-block-form .form-text {
  width: auto;
  padding: 0.4em; }

/**
 * $ACTION-LINKS
 */
/* line 4, ../sass/components/menus/_action-links.scss */
.action-links {
  margin-bottom: 18px; }
  /* line 8, ../sass/components/menus/_action-links.scss */
  .action-links li {
    padding-left: 16px;
    background: transparent url('../images/../images/plus-blue.png?1435311699') left center no-repeat; }
    /* line 13, ../sass/components/menus/_action-links.scss */
    .action-links li a {
      color: #077dc3;
      text-decoration: none; }
      /* line 17, ../sass/components/menus/_action-links.scss */
      .action-links li a:hover {
        font-weight: 700; }

/* line 1, ../sass/components/menus/_block--menu-menu-blog-categories.scss */
.block--menu-menu-blog-categories {
  width: 100%;
  float: left; }
  /* line 4, ../sass/components/menus/_block--menu-menu-blog-categories.scss */
  .block--menu-menu-blog-categories h2.block__title {
    margin-bottom: 18px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-size: 1.71429rem; }
  /* line 11, ../sass/components/menus/_block--menu-menu-blog-categories.scss */
  .block--menu-menu-blog-categories .menu {
    margin: 0;
    padding: 0; }
    /* line 14, ../sass/components/menus/_block--menu-menu-blog-categories.scss */
    .block--menu-menu-blog-categories .menu li {
      list-style: none;
      border-bottom: solid 1px #1e3578; }
  /* line 19, ../sass/components/menus/_block--menu-menu-blog-categories.scss */
  .block--menu-menu-blog-categories a {
    color: #1e3578;
    text-decoration: none;
    font-size: 120%;
    font-weight: 700;
    text-decoration: none;
    line-height: 2.2; }
    /* line 18, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
    .block--menu-menu-blog-categories a:visited {
      color: #1e3578; }
    /* line 21, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
    .block--menu-menu-blog-categories a:focus {
      color: #1e3578; }
    /* line 24, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
    .block--menu-menu-blog-categories a:hover {
      color: #1e3578; }
    /* line 27, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
    .block--menu-menu-blog-categories a:active {
      color: #1e3578; }

/* line 1, ../sass/components/menus/_block--menu-menu-secondary-menu.scss */
.block--menu-menu-secondary-menu {
  display: none; }
  /* line 3, ../sass/components/menus/_block--menu-menu-secondary-menu.scss */
  .block--menu-menu-secondary-menu .menu {
    margin-top: 25px;
    float: right; }

/**
 * $BREADCRUMB
 */
/* line 4, ../sass/components/menus/_breadcrumb.scss */
.breadcrumb {
  margin-bottom: 18px; }
  /* line 8, ../sass/components/menus/_breadcrumb.scss */
  .breadcrumb li {
    padding-right: 0.4em; }
    /* line 11, ../sass/components/menus/_breadcrumb.scss */
    .breadcrumb li:after {
      content: "┬╗";
      padding-left: 0.4em;
      vertical-align: baseline; }
    /* line 16, ../sass/components/menus/_breadcrumb.scss */
    .breadcrumb li:last-child:after {
      content: ""; }
  /* line 21, ../sass/components/menus/_breadcrumb.scss */
  .breadcrumb a {
    color: #1e3578;
    text-decoration: none; }
    /* line 18, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
    .breadcrumb a:visited {
      color: #1e3578; }
    /* line 21, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
    .breadcrumb a:focus {
      color: #1e3578; }
    /* line 24, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
    .breadcrumb a:hover {
      color: #1e3578; }
    /* line 27, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
    .breadcrumb a:active {
      color: #1e3578; }

/* line 1, ../sass/components/menus/_main-menu.scss */
.block--system-main-menu {
  display: none; }

/* line 1, ../sass/components/menus/_navigation.scss */
.l-unconstrained-navigation {
  background: #1e3578; }

/**
 * $BORDER-LIST
 */
/* line 4, ../sass/components/misc/_border-list.scss */
.border-list {
  padding: 0;
  list-style: none; }
  /* line 9, ../sass/components/misc/_border-list.scss */
  .border-list li {
    padding-bottom: 1.42857em;
    margin-bottom: 1.42857em;
    border-bottom: 1px solid #e8e8e8; }
    /* line 14, ../sass/components/misc/_border-list.scss */
    .border-list li:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none; }

/**
 * $BUTTONS
 */
/* Base Button */
/* line 5, ../sass/components/misc/_buttons.scss */
.button {
  display: inline-block;
  height: 2.2em;
  margin: 0;
  padding: 0 1.2em;
  background-color: #222222;
  border: none;
  color: #fff;
  font-weight: 700;
  font-family: inherit;
  font-size: 140%;
  line-height: 2.2;
  /*letter-spacing: 0.15em;
  text-transform: uppercase;*/
  vertical-align: middle;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer; }
  /* line 28, ../sass/components/misc/_buttons.scss */
  .button, .button:hover, .button:active, .button:focus, .button:visited {
    text-decoration: none; }
  /* line 36, ../sass/components/misc/_buttons.scss */
  .button:hover {
    background-color: #006a90;
    color: #ffffff; }
  /* line 41, ../sass/components/misc/_buttons.scss */
  .button:active, .button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset; }
  /* line 47, ../sass/components/misc/_buttons.scss */
  .button::-moz-focus-inner {
    border: 0;
    padding: 0; }

/* Fill width of container */
/* line 54, ../sass/components/misc/_buttons.scss */
.button--full {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  text-align: center; }

/* Inherit sizing from parent  */
/* line 62, ../sass/components/misc/_buttons.scss */
.button--natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  height: auto;
  padding-right: 0.5em;
  padding-left: 0.5em; }

/* Button Functions */
/* line 72, ../sass/components/misc/_buttons.scss */
.button--primary {
  background-color: #00a3dc;
  font-family: "Shadows Into Light", cursive;
  color: #ffffff; }

/* line 78, ../sass/components/misc/_buttons.scss */
.button--secondary {
  background-color: transparent;
  border-color: #52b1ea;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.35714em;
  color: #52b1ea; }
  /* line 84, ../sass/components/misc/_buttons.scss */
  .button--secondary:hover {
    border-color: #daddbd;
    background-color: transparent;
    color: #daddbd; }

/* line 91, ../sass/components/misc/_buttons.scss */
.button--positive {
  background-color: #4a993e; }
  /* line 93, ../sass/components/misc/_buttons.scss */
  .button--positive:hover {
    background-color: #38752f; }

/* line 98, ../sass/components/misc/_buttons.scss */
.button--negative {
  background-color: #b33630; }
  /* line 100, ../sass/components/misc/_buttons.scss */
  .button--negative:hover {
    background-color: #8b2a25; }

/* line 105, ../sass/components/misc/_buttons.scss */
.button--disabled,
.button--disabled:hover,
.button--disabled:active,
.button--disabled:focus {
  background-color: #ddd;
  color: #777;
  cursor: default;
  box-shadow: none; }

/* Adjacent buttons should have some space between them. */
/* line 116, ../sass/components/misc/_buttons.scss */
.button + .button,
.button + a {
  margin-left: 1em; }

/* line 1, ../sass/components/misc/_flex-viewport.scss */
div.flex-viewport {
  height: 100% !important;
  height: auto !important; }

/* line 2, ../sass/components/misc/_homepage.scss */
.front h1 {
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 56px;
  font-size: 4rem; }

/* line 1, ../sass/components/misc/_l-header.scss */
.l-header {
  padding-top: 9px; }

/* line 1, ../sass/components/misc/_mailchimp.scss */
.block--block-4 {
  float: left;
  width: 100%;
  padding-top: 18px; }
  /* line 7, ../sass/components/misc/_mailchimp.scss */
  .block--block-4 h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-size: 1.42857rem;
    font-weight: 800;
    color: #ffffff; }
  /* line 14, ../sass/components/misc/_mailchimp.scss */
  .block--block-4 input {
    margin: 10px 0;
    padding: 10px 5px;
    width: 100%;
    border: 0px !important; }
  /* line 21, ../sass/components/misc/_mailchimp.scss */
  .block--block-4 .button {
    float: right;
    width: 120px;
    padding: 0px;
    font-family: "Shadows Into Light", cursive; }

/**
 * $MESSAGES
 */
/* line 4, ../sass/components/misc/_messages.scss */
.messages {
  padding-left: 10px;
  margin-bottom: 18px; }

/* line 9, ../sass/components/misc/_messages.scss */
.messages--status {
  color: #077dc3;
  background: #ccebfd;
  border-color: #38b0f8; }

/* line 15, ../sass/components/misc/_messages.scss */
.messages--warning {
  color: #d6c460;
  background: white;
  border-color: #ebe2b1; }

/* line 21, ../sass/components/misc/_messages.scss */
.messages--error {
  color: #b33630;
  background: #f9eae9;
  border-color: #d97570; }

/* line 1, ../sass/components/misc/_mobile-hide-overflow.scss */
.mean-bar {
  float: none !important;
  position: relative !important; }

/* line 6, ../sass/components/misc/_mobile-hide-overflow.scss */
.mean-nav {
  float: none !important;
  position: absolute !important; }

/**
 * $PAGER
 */
/* line 8, ../sass/components/misc/_pager.scss */
.pager__item {
  display: block;
  float: left;
  margin: 0.1em;
  padding: 0; }

/* line 15, ../sass/components/misc/_pager.scss */
.pager__item a,
.pager__item--current,
.pager__item--ellipsis {
  display: block;
  padding: 0.5em 0.8em;
  border: 1px solid #1e3578;
  color: #daddbd;
  text-decoration: none; }

/* line 24, ../sass/components/misc/_pager.scss */
.pager__item a:hover {
  background-color: #1e3578;
  border-color: #00a3dc;
  color: #fff; }

/* line 29, ../sass/components/misc/_pager.scss */
.pager__item--current {
  border-color: #00a3dc;
  color: #00a3dc; }

/* line 33, ../sass/components/misc/_pager.scss */
.pager__item--ellipsis {
  border: none; }

/**
 * $PROGRESS
 */
/* line 5, ../sass/components/misc/_progress.scss */
.progress .bar {
  background-color: #e8e8e8;
  border-color: #daddbd;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
/* line 10, ../sass/components/misc/_progress.scss */
.progress .filled {
  background: #077dc3; }

/**
 * $SECTION-TITLE
 */
/* line 4, ../sass/components/misc/_section-title.scss */
.section-title {
  padding-bottom: 0.71429em;
  margin-bottom: 1.42857em;
  border-bottom: 1px solid #bcd8e3; }

/* line 1, ../sass/components/misc/_sharethis.scss */
span.stMainServices.st-linkedin-counter,
span.stMainServices.st-twitter-counter,
span.stMainServices.st-facebook-counter {
  height: 33px; }

/**
 * $SITE-BRANDING
 */
/* line 4, ../sass/components/misc/_site-branding.scss */
.site-branding {
  padding: 1em 0; }

/* line 9, ../sass/components/misc/_site-branding.scss */
.site-branding__name,
.site-branding__logo {
  display: block;
  float: left; }

/* line 15, ../sass/components/misc/_site-branding.scss */
.site-branding__logo {
  width: 50px;
  margin-right: 1em; }

/* line 19, ../sass/components/misc/_site-branding.scss */
.site-branding__name {
  color: #fff;
  text-decoration: none; }
  /* line 24, ../sass/components/misc/_site-branding.scss */
  .site-branding__name:visited {
    color: #fff; }
  /* line 27, ../sass/components/misc/_site-branding.scss */
  .site-branding__name:hover {
    color: #064771; }

/* line 1, ../sass/components/misc/_site-slogan.scss */
.l-branding {
  text-align: center; }
  /* line 3, ../sass/components/misc/_site-slogan.scss */
  .l-branding h2.site-slogan {
    display: inline-block;
    color: #1e3578;
    font-size: 16px;
    font-size: 1.14286rem;
    font-weight: 400;
    line-height: 25px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;
    margin-bottom: 18px; }

/* line 1, ../sass/components/misc/_title_region.scss */
.l-ptitle-unconstrained {
  background: url("../images/dtd_title_image_320.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 195px;
  background-size: 100% 32%; }
  /* line 8, ../sass/components/misc/_title_region.scss */
  .l-ptitle-unconstrained .l-ptitle h1 {
    font-size: 26px;
    font-size: 1.85714rem; }

/*hgj*/
/* line 3, ../sass/components/node/_about-door-to-door.scss */
.section-about-us .node--article--full .field--type-image {
  display: none; }
/* line 6, ../sass/components/node/_about-door-to-door.scss */
.section-about-us .node--article--full img {
  width: 100%; }

/* line 2, ../sass/components/node/_blog-post.scss */
.node--blog-posting--full .posted-by {
  display: block;
  font-size: 20px;
  font-size: 1.42857rem;
  margin-bottom: 18px; }
  /* line 7, ../sass/components/node/_blog-post.scss */
  .node--blog-posting--full .posted-by span.poster a {
    color: #1e3578;
    text-decoration: none; }
/* line 14, ../sass/components/node/_blog-post.scss */
.node--blog-posting--full .field--name-field-blog-media {
  text-align: center;
  padding-bottom: 18px; }
/* line 19, ../sass/components/node/_blog-post.scss */
.node--blog-posting--full .field--name-field-blog-media {
  width: 100%;
  float: left; }
  /* line 20, ../sass/components/node/_blog-post.scss */
  .node--blog-posting--full .field--name-field-blog-media img {
    width: 100%; }
/* line 27, ../sass/components/node/_blog-post.scss */
.node--blog-posting--full .field--name-body {
  width: 100%;
  float: left; }
/* line 33, ../sass/components/node/_blog-post.scss */
.node--blog-posting--full .block--views-blog-listing-block-latest-blog {
  float: right !important; }
/* line 37, ../sass/components/node/_blog-post.scss */
.node--blog-posting--full .block--webform-client-block-217 {
  width: 100%; }

/* line 2, ../sass/components/node/_contact-us-page.scss */
.section-contact-door-to-door-holidays label {
  font-size: 18px;
  font-size: 1.28571rem;
  margin-bottom: 36px;
  font-weight: 400; }
/* line 7, ../sass/components/node/_contact-us-page.scss */
.section-contact-door-to-door-holidays .block--views-social-icons-block-2 {
  margin-top: 15px;
  display: inline-block;
  width: 100%;
  margin-bottom: 9px; }
  /* line 12, ../sass/components/node/_contact-us-page.scss */
  .section-contact-door-to-door-holidays .block--views-social-icons-block-2 .view-social-icons {
    display: inline-block;
    float: left; }
    /* line 15, ../sass/components/node/_contact-us-page.scss */
    .section-contact-door-to-door-holidays .block--views-social-icons-block-2 .view-social-icons .views-row {
      float: left;
      margin-right: 5px; }

/* line 2, ../sass/components/node/_node-holidays.scss */
.node-type-holidays .flexslider {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 18px; }
/* line 12, ../sass/components/node/_node-holidays.scss */
.node-type-holidays .flex-control-thumbs {
  margin-top: 10px; }
  /* line 14, ../sass/components/node/_node-holidays.scss */
  .node-type-holidays .flex-control-thumbs li {
    padding: 0 5px;
    width: 33.33%; }
    /* line 17, ../sass/components/node/_node-holidays.scss */
    .node-type-holidays .flex-control-thumbs li:first-child {
      padding-left: 0;
      padding-right: 10px; }
    /* line 21, ../sass/components/node/_node-holidays.scss */
    .node-type-holidays .flex-control-thumbs li:nth-child(4) {
      padding-right: 0;
      padding-left: 10px; }
/* line 27, ../sass/components/node/_node-holidays.scss */
.node-type-holidays .access-container {
  text-align: center;
  margin-right: 1em; }
  /* line 30, ../sass/components/node/_node-holidays.scss */
  .node-type-holidays .access-container .access-icon {
    width: 100%;
    margin-bottom: 18px; }
  /* line 34, ../sass/components/node/_node-holidays.scss */
  .node-type-holidays .access-container .access-title {
    font-weight: 700; }
/* line 43, ../sass/components/node/_node-holidays.scss */
.node-type-holidays .field--name-field-holiday-activities .field__label,
.node-type-holidays .field--name-field-holiday-accomodation .field__label,
.node-type-holidays .field--name-field-holiday-amenities .field__label,
.node-type-holidays .field--name-field-holiday-includes .field__label,
.node-type-holidays .field--name-field-holiday-board .field__label {
  font-size: 18px;
  font-size: 1.28571rem;
  margin-bottom: 18px; }
/* line 47, ../sass/components/node/_node-holidays.scss */
.node-type-holidays .field--name-field-holiday-activities p,
.node-type-holidays .field--name-field-holiday-accomodation p,
.node-type-holidays .field--name-field-holiday-amenities p,
.node-type-holidays .field--name-field-holiday-includes p,
.node-type-holidays .field--name-field-holiday-board p {
  margin: 0; }
/* line 51, ../sass/components/node/_node-holidays.scss */
.node-type-holidays .field--name-field-holiday-know-link {
  margin-top: 18px; }
  /* line 53, ../sass/components/node/_node-holidays.scss */
  .node-type-holidays .field--name-field-holiday-know-link a {
    color: #1e3578;
    font-size: 20px;
    font-size: 1.42857rem;
    text-decoration: none; }
    /* line 18, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
    .node-type-holidays .field--name-field-holiday-know-link a:visited {
      color: #00a3dc; }
    /* line 21, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
    .node-type-holidays .field--name-field-holiday-know-link a:focus {
      color: #00a3dc; }
    /* line 24, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
    .node-type-holidays .field--name-field-holiday-know-link a:hover {
      color: #00a3dc; }
    /* line 27, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
    .node-type-holidays .field--name-field-holiday-know-link a:active {
      color: #00a3dc; }

/**
 * $NODE
 */
/* line 4, ../sass/components/node/_node.scss */
.node--teaser {
  margin-bottom: 18px; }

/* line 8, ../sass/components/node/_node.scss */
.node__links {
  margin-bottom: 18px; }

/* line 1, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
.block--views-blog-listing-block-latest-blog {
  margin-bottom: 35px;
  width: 100%;
  float: left; }
  /* line 5, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
  .block--views-blog-listing-block-latest-blog h2.block__title {
    margin-bottom: 18px;
    font-weight: 400;
    color: #1e3578; }
  /* line 10, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
  .block--views-blog-listing-block-latest-blog .view-blog-listing {
    display: block; }
    /* line 12, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
    .block--views-blog-listing-block-latest-blog .view-blog-listing .views-row {
      display: block;
      margin-bottom: -80px; }
      /* line 15, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
      .block--views-blog-listing-block-latest-blog .view-blog-listing .views-row .views-field-field-blog-media {
        padding: 0;
        display: inline-block;
        clear: left; }
        /* line 19, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
        .block--views-blog-listing-block-latest-blog .view-blog-listing .views-row .views-field-field-blog-media img {
          width: 100%; }
      /* line 23, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
      .block--views-blog-listing-block-latest-blog .view-blog-listing .views-row .views-field-title {
        clear: left;
        display: block;
        position: relative;
        top: -80px; }
        /* line 28, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
        .block--views-blog-listing-block-latest-blog .view-blog-listing .views-row .views-field-title h2.field-content {
          background-color: rgba(0, 0, 0, 0.6);
          height: 80px; }
          /* line 31, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
          .block--views-blog-listing-block-latest-blog .view-blog-listing .views-row .views-field-title h2.field-content a {
            color: #ffffff;
            line-height: 80px;
            padding: 0 1em; }

/* line 1, ../sass/components/views/_block--views-holiday-category-block.scss */
.block--views-holiday-category-block {
  display: inline-block;
  margin-bottom: 36px; }
  /* line 5, ../sass/components/views/_block--views-holiday-category-block.scss */
  .block--views-holiday-category-block .view-holiday-category .views-row {
    overflow: hidden;
    margin-bottom: 18px; }
  /* line 9, ../sass/components/views/_block--views-holiday-category-block.scss */
  .block--views-holiday-category-block .view-holiday-category .views-field-field-holiday-category-image,
  .block--views-holiday-category-block .view-holiday-category .views-field-name {
    margin-bottom: 18px; }
    /* line 12, ../sass/components/views/_block--views-holiday-category-block.scss */
    .block--views-holiday-category-block .view-holiday-category .views-field-field-holiday-category-image a,
    .block--views-holiday-category-block .view-holiday-category .views-field-name a {
      font-weight: 400;
      color: #1e3578; }
    /* line 16, ../sass/components/views/_block--views-holiday-category-block.scss */
    .block--views-holiday-category-block .view-holiday-category .views-field-field-holiday-category-image img,
    .block--views-holiday-category-block .view-holiday-category .views-field-name img {
      width: 100%; }
  /* line 20, ../sass/components/views/_block--views-holiday-category-block.scss */
  .block--views-holiday-category-block .view-holiday-category .views-field-nothing {
    margin-bottom: 18px; }

/* line 3, ../sass/components/views/_block--views-meet-the-team-block.scss */
.block--views-meet-the-team-block .view-meet-the-team .views-row {
  display: block;
  width: 25%;
  float: left;
  padding: 10px 10px; }
  /* line 9, ../sass/components/views/_block--views-meet-the-team-block.scss */
  .block--views-meet-the-team-block .view-meet-the-team .views-row .views-field-picture {
    margin-bottom: 18px; }
  /* line 12, ../sass/components/views/_block--views-meet-the-team-block.scss */
  .block--views-meet-the-team-block .view-meet-the-team .views-row .views-field-field-team-member-name {
    margin-bottom: 18px; }
  /* line 17, ../sass/components/views/_block--views-meet-the-team-block.scss */
  .block--views-meet-the-team-block .view-meet-the-team .views-row .views-field-nothing a {
    height: 40px;
    font-size: 19px; }

/* line 3, ../sass/components/views/_block--views-slideshow-block.scss */
.view-slideshow .flexslider,
.view-slideshow-one-to-one .flexslider {
  border: none;
  margin: 0; }
/* line 8, ../sass/components/views/_block--views-slideshow-block.scss */
.view-slideshow .flex-control-nav,
.view-slideshow-one-to-one .flex-control-nav {
  bottom: 10px;
  z-index: 100;
  padding-right: 10px; }
/* line 14, ../sass/components/views/_block--views-slideshow-block.scss */
.view-slideshow .flex-control-nav li,
.view-slideshow-one-to-one .flex-control-nav li {
  float: right; }
/* line 18, ../sass/components/views/_block--views-slideshow-block.scss */
.view-slideshow .flex-direction-nav,
.view-slideshow-one-to-one .flex-direction-nav {
  display: none; }
/* line 22, ../sass/components/views/_block--views-slideshow-block.scss */
.view-slideshow .flex-control-paging li,
.view-slideshow-one-to-one .flex-control-paging li {
  margin: 2px 3px; }
/* line 26, ../sass/components/views/_block--views-slideshow-block.scss */
.view-slideshow .flex-control-paging li a,
.view-slideshow-one-to-one .flex-control-paging li a {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #1e3578;
  text-indent: -9999px;
  border: 1px solid #000;
  width: 20px;
  height: 20px; }
/* line 34, ../sass/components/views/_block--views-slideshow-block.scss */
.view-slideshow .flex-control-paging li a.flex-active,
.view-slideshow-one-to-one .flex-control-paging li a.flex-active {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #00a3dc;
  text-indent: -9999px; }

/* line 1, ../sass/components/views/_block--views-social-icons-block.scss */
.block--views-social-icons-block {
  display: inline-block;
  margin-bottom: 9px; }
  /* line 4, ../sass/components/views/_block--views-social-icons-block.scss */
  .block--views-social-icons-block .view-social-icons {
    display: inline-block;
    float: right; }
    /* line 7, ../sass/components/views/_block--views-social-icons-block.scss */
    .block--views-social-icons-block .view-social-icons .views-row {
      float: left;
      margin-left: 5px; }

/* line 2, ../sass/components/views/_meet-the-team.scss */
.page-about-us .view-meet-the-team {
  padding-top: 30px; }
  /* line 5, ../sass/components/views/_meet-the-team.scss */
  .page-about-us .view-meet-the-team .views-field-picture {
    float: right;
    padding-left: 1em;
    padding-bottom: 18px; }

/* line 15, ../sass/components/views/_meet-the-team.scss */
.block--views-meet-the-team-block .block__title {
  margin-top: 18px;
  color: #1e3578;
  font-weight: 400; }

/* line 1, ../sass/components/views/_view-about-door-to-door.scss */
.block--views-about-door-to-door-block {
  display: inline-block;
  margin-bottom: 18px; }
  /* line 5, ../sass/components/views/_view-about-door-to-door.scss */
  .block--views-about-door-to-door-block .view-about-door-to-door .views-field-field-image {
    width: 100%;
    float: right;
    margin-bottom: 18px; }
    /* line 9, ../sass/components/views/_view-about-door-to-door.scss */
    .block--views-about-door-to-door-block .view-about-door-to-door .views-field-field-image img {
      width: 100%; }
  /* line 13, ../sass/components/views/_view-about-door-to-door.scss */
  .block--views-about-door-to-door-block .view-about-door-to-door .views-field-title {
    margin-top: 18px;
    margin-bottom: 18px; }
    /* line 16, ../sass/components/views/_view-about-door-to-door.scss */
    .block--views-about-door-to-door-block .view-about-door-to-door .views-field-title a {
      font-weight: 400;
      color: #1e3578;
      margin-top: 30px; }
  /* line 22, ../sass/components/views/_view-about-door-to-door.scss */
  .block--views-about-door-to-door-block .view-about-door-to-door .views-field-body {
    width: 100%; }
    /* line 24, ../sass/components/views/_view-about-door-to-door.scss */
    .block--views-about-door-to-door-block .view-about-door-to-door .views-field-body img {
      width: 100%;
      display: none; }

/* line 34, ../sass/components/views/_view-about-door-to-door.scss */
.block--views-about-door-to-door-block {
  display: inline-block;
  margin-bottom: 18px; }
  /* line 38, ../sass/components/views/_view-about-door-to-door.scss */
  .block--views-about-door-to-door-block .view-about-door-to-door .views-field-field-image {
    padding-left: 10px;
    margin-top: 50px;
    width: 40%;
    float: right; }
  /* line 44, ../sass/components/views/_view-about-door-to-door.scss */
  .block--views-about-door-to-door-block .view-about-door-to-door .views-field-title,
  .block--views-about-door-to-door-block .view-about-door-to-door .views-field-body {
    width: 100%; }
  /* line 48, ../sass/components/views/_view-about-door-to-door.scss */
  .block--views-about-door-to-door-block .view-about-door-to-door .views-field-title {
    margin-bottom: 18px; }

/* line 1, ../sass/components/views/_view-blog-listing.scss */
.view-blog-listing {
  width: 100%;
  clear: both;
  display: inline-block; }
  /* line 5, ../sass/components/views/_view-blog-listing.scss */
  .view-blog-listing .views-row {
    display: inline-block;
    margin-bottom: 18px;
    width: 100%;
    padding: 5px; }
  /* line 11, ../sass/components/views/_view-blog-listing.scss */
  .view-blog-listing .views-field-title {
    margin-bottom: 18px; }
    /* line 13, ../sass/components/views/_view-blog-listing.scss */
    .view-blog-listing .views-field-title a {
      color: #1e3578;
      font-weight: 400;
      font-size: 25px;
      font-size: 1.78571rem; }
  /* line 19, ../sass/components/views/_view-blog-listing.scss */
  .view-blog-listing .views-field-field-blog-media {
    padding-bottom: 18px;
    text-align: center; }
  /* line 24, ../sass/components/views/_view-blog-listing.scss */
  .view-blog-listing .views-field-body a {
    color: #1e3578;
    text-decoration: none; }
    /* line 18, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
    .view-blog-listing .views-field-body a:visited {
      color: #1e3578; }
    /* line 21, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
    .view-blog-listing .views-field-body a:focus {
      color: #1e3578; }
    /* line 24, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
    .view-blog-listing .views-field-body a:hover {
      color: #1e3578; }
    /* line 27, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
    .view-blog-listing .views-field-body a:active {
      color: #1e3578; }

/* line 64, ../sass/components/views/_view-blog-listing.scss */
.page-blog .views-field-field-blog-media {
  display: inline-block;
  padding-right: 1em;
  padding-bottom: 18px;
  float: left;
  height: 210px; }

/*
.block--views-document-listing-block {

  padding-top: $vert-spacing-unit;

  .block__title {
    color: $black;
    font-weight: 700;
    font-family: $open-sans;
    @include font-size(22px);

  }

  ul {
    padding-left: 0px;
  li {
    list-style-type:none;
    a {
      text-decoration:underline;
    }
  }
  }

}
*/
/* line 28, ../sass/components/views/_view-documents.scss */
.block--views-document-listing-block .block__title {
  color: #000;
  padding-top: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-size: 1.71429rem;
  background-image: url("../images/pdf.png");
  background-repeat: no-repeat;
  background-position: right center; }
/* line 37, ../sass/components/views/_view-documents.scss */
.block--views-document-listing-block a {
  color: #064771; }
  /* line 39, ../sass/components/views/_view-documents.scss */
  .block--views-document-listing-block a:visited {
    color: #064771; }
/* line 44, ../sass/components/views/_view-documents.scss */
.block--views-document-listing-block ul {
  padding-left: 0px; }
  /* line 47, ../sass/components/views/_view-documents.scss */
  .block--views-document-listing-block ul li {
    list-style-type: none; }
/* line 52, ../sass/components/views/_view-documents.scss */
.block--views-document-listing-block .file-icon {
  display: none; }

/* line 1, ../sass/components/views/_view-holiday-dates.scss */
.view-holiday-dates {
  display: block;
  margin-bottom: 18px;
  padding-top: 42px; }
  /* line 5, ../sass/components/views/_view-holiday-dates.scss */
  .view-holiday-dates .views-field-field-holiday-price {
    font-size: 28px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 18px; }
  /* line 11, ../sass/components/views/_view-holiday-dates.scss */
  .view-holiday-dates .views-field-field-holiday-dates-group ul {
    margin: 0;
    padding: 0; }
  /* line 15, ../sass/components/views/_view-holiday-dates.scss */
  .view-holiday-dates .views-field-field-holiday-dates-group li {
    padding: 5px;
    list-style: none; }
    /* line 18, ../sass/components/views/_view-holiday-dates.scss */
    .view-holiday-dates .views-field-field-holiday-dates-group li:nth-child(odd) {
      background-color: #e8e8e8; }
    /* line 21, ../sass/components/views/_view-holiday-dates.scss */
    .view-holiday-dates .views-field-field-holiday-dates-group li:nth-child(even) {
      background-color: #daddbd; }
  /* line 25, ../sass/components/views/_view-holiday-dates.scss */
  .view-holiday-dates .views-field-field-holiday-dates-group .field--name-field-dates-holidays {
    margin: 0; }
  /* line 28, ../sass/components/views/_view-holiday-dates.scss */
  .view-holiday-dates .views-field-field-holiday-dates-group .field--name-field-dates-airport {
    margin: 0; }

/* line 2, ../sass/components/views/_view-holidays.scss */
.view-holidays .views-row {
  margin-bottom: 36px;
  margin-top: 36px; }
  /* line 6, ../sass/components/views/_view-holidays.scss */
  .view-holidays .views-row .views-field-field-holiday-gallery {
    margin-bottom: 18px; }
  /* line 9, ../sass/components/views/_view-holidays.scss */
  .view-holidays .views-row .views-field-title {
    margin-bottom: 18px; }
    /* line 11, ../sass/components/views/_view-holidays.scss */
    .view-holidays .views-row .views-field-title a {
      color: #1e3578;
      font-weight: 400; }
  /* line 18, ../sass/components/views/_view-holidays.scss */
  .view-holidays .views-row .views-field-field-holiday-price {
    font-size: 34px;
    font-size: 2.42857rem;
    font-weight: bold;
    margin-bottom: 18px; }
  /* line 23, ../sass/components/views/_view-holidays.scss */
  .view-holidays .views-row .views-field-nothing {
    display: inline-block;
    float: left; }
    /* line 26, ../sass/components/views/_view-holidays.scss */
    .view-holidays .views-row .views-field-nothing a {
      background: #00a3dc;
      font-family: "Shadows Into Light", cursive; }
      /* line 29, ../sass/components/views/_view-holidays.scss */
      .view-holidays .views-row .views-field-nothing a:hover {
        background: #1e3578; }
  /* line 34, ../sass/components/views/_view-holidays.scss */
  .view-holidays .views-row .views-field-field-holiday-accessibility {
    display: inline-block;
    margin-top: 7px;
    margin-left: 10px; }
    /* line 38, ../sass/components/views/_view-holidays.scss */
    .view-holidays .views-row .views-field-field-holiday-accessibility .mini-icon {
      float: left;
      padding-right: 1em; }

/* line 2, ../sass/components/views/_view-reviews-listing.scss */
.view-reviews-listings li.views-row {
  list-style-image: url("../images/quotemarks.png");
  margin-bottom: 54px; }
  /* line 5, ../sass/components/views/_view-reviews-listing.scss */
  .view-reviews-listings li.views-row .views-field-field-client-name,
  .view-reviews-listings li.views-row .views-field-field-review-holiday {
    display: block;
    float: right;
    padding-right: 1em; }
  /* line 11, ../sass/components/views/_view-reviews-listing.scss */
  .view-reviews-listings li.views-row .views-label {
    font-weight: bold; }

/* line 18, ../sass/components/views/_view-reviews-listing.scss */
.block--views-reviews-listings-block-2 {
  width: 100%;
  float: left; }
  /* line 22, ../sass/components/views/_view-reviews-listing.scss */
  .block--views-reviews-listings-block-2 a {
    width: 200px;
    background: #00a3dc;
    height: 50px;
    text-decoration: none;
    padding: 10px;
    margin-left: 30px; }
  /* line 31, ../sass/components/views/_view-reviews-listing.scss */
  .block--views-reviews-listings-block-2 .block__title {
    padding-top: 18px; }

/* line 37, ../sass/components/views/_view-reviews-listing.scss */
.block--views-reviews-listings-block-1 {
  width: 100%;
  float: left; }
  /* line 41, ../sass/components/views/_view-reviews-listing.scss */
  .block--views-reviews-listings-block-1 a {
    width: 200px;
    background: #00a3dc;
    height: 50px;
    text-decoration: none;
    padding: 10px;
    margin-left: 30px; }

/* line 54, ../sass/components/views/_view-reviews-listing.scss */
.block--views-reviews-listings-block-2 {
  width: 50%;
  float: left; }

/*# sourceMappingURL=d2d.no-query.css.map */
