.section-contact-door-to-door-holidays {
  label {
    @include font-size(18px);
    margin-bottom: $vert-spacing-unit*2;
    font-weight: 400;
  }
  .block--views-social-icons-block-2 {
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    margin-bottom: $vert-spacing-unit/2;
    .view-social-icons {
      display: inline-block;
      float: left;
      .views-row {
        float: left;
        margin-right: 5px;
      }
    }
  }

}