$pt-sans    : 'Open Sans', Helvetica, Arial, sans-serif;
$open-sans  : 'Open Sans', sans-serif;
$maven-pro  : 'Maven Pro', Helvetica, Arial, sans-serif;
$shadow-light : 'Shadows Into Light', cursive;

$base-font-size: 14px;
$base-line-height: 20px;
