.block--views-social-icons-block {
  display: inline-block;
  margin-bottom: $vert-spacing-unit/2;
  .view-social-icons {
    display: inline-block;
    float: right;
    .views-row {
      float: left;
      margin-left: 5px;
    }
  }

}


@include breakpoint($mobile-landscape) {
  .block--views-social-icons-block {
    display: inline-block;
    width: 100%;
    margin-bottom: $vert-spacing-unit/2;
    .view-social-icons {
      display: inline-block;
      float: right;
      .views-row {
        float: left;
        margin-left: 5px;
      }
    }
  }
}