.view-slideshow,
.view-slideshow-one-to-one {
  .flexslider {
    border : none;
    margin: 0;
  }

  .flex-control-nav {
    bottom: 10px;
    z-index: 100;
    padding-right: 10px;
  }

  .flex-control-nav li {
    float: right;
  }

  .flex-direction-nav {
    display: none;
  }

  .flex-control-paging li {
    margin: 2px 3px;
  }

  .flex-control-paging li a {
    @include border-radius(0px);
    background: $bg-dark;
    text-indent: -9999px;
    border: 1px solid $black;
    width:20px;
    height:20px;
  }
  .flex-control-paging li a.flex-active {
    @include border-radius(0px);
    background: $bg-light;
    text-indent: -9999px;
  }
}