.block--views-meet-the-team-block {
  .view-meet-the-team {
    .views-row {
      display: block;
      width: 25%;
      float: left;
      padding: 10px 10px;

      .views-field-picture {
        margin-bottom: $vert-spacing-unit;
      }
      .views-field-field-team-member-name {
        margin-bottom: $vert-spacing-unit;
      }

      .views-field-nothing {
        a {
          height: 40px;
          font-size: 19px;
        }
      }
    }
  }
}