.block--views-holiday-category-block {
  display: inline-block;
  margin-bottom: $vert-spacing-unit*2;
  .view-holiday-category {
    .views-row {
      overflow: hidden;
      margin-bottom: $vert-spacing-unit;
    }
    .views-field-field-holiday-category-image,
    .views-field-name {
      margin-bottom: $vert-spacing-unit;
      a {
        font-weight:400;
        color: $bg-dark;
      }
      img {
        width:100%;
      }
    }
    .views-field-nothing {
      margin-bottom: $vert-spacing-unit;
    }
  }
}

@include breakpoint($mobile-landscape) {
  .block--views-holiday-category-block {
    .view-holiday-category {
      .views-row {
        width: 100%;
        margin: 0 auto;
      }
      .views-field-field-holiday-category-image {
        margin-bottom: $vert-spacing-unit;
        width:100%;
      }
      .views-field-name {
        margin-bottom: $vert-spacing-unit;
        a {
          line-height: 34px;
          font-weight:400;
          color: $bg-dark;
        }
      }
    }
  }
}

@include breakpoint($tab) {
  .block--views-holiday-category-block {
    display: inline-block;
    margin-bottom: $vert-spacing-unit;
    .view-holiday-category {
      .views-row {
        width: 33.3333%;
        float:left;
        &:nth-child(1) {
          padding: 0;
          padding-right: $horz-spacing-unit;
        }
        &:nth-child(2) {
          padding: 0 $horz-spacing-unit/2;
        }
        &:nth-child(3) {
          padding: 0;
          padding-left: $horz-spacing-unit;
        }
      }
      .views-field-field-holiday-category-image,
      .views-field-name {
        margin-bottom: $vert-spacing-unit;
      }
    }
  }
}

@include breakpoint($desk) {
  .block--views-holiday-category-block {
    display: inline-block;
    margin-bottom: $vert-spacing-unit;
    .view-holiday-category {
      .views-row {
        width: 33.3333%;
        float:left;
        &:nth-child(1) {
          padding: 0;
          padding-right: $horz-spacing-unit;
        }
        &:nth-child(2) {
          padding: 0 $horz-spacing-unit/2;
        }
        &:nth-child(3) {
          padding: 0;
          padding-left: $horz-spacing-unit;
        }
      }
      .views-field-field-holiday-category-image,
      .views-field-name {
        margin-bottom: $vert-spacing-unit;
      }
    }
  }
}
