.page-about-us {
  .view-meet-the-team {

    padding-top: 30px;
    .views-field-picture {
      float: right;
      padding-left: $horz-spacing-unit;
      padding-bottom: $vert-spacing-unit;
    }
  }
}

.block--views-meet-the-team-block {

  .block__title {
    margin-top:$vert-spacing-unit;
    color: $bg-dark;
    font-weight:400;
  }

}

