.view-blog-listing {
  width:100%;
  clear:both;
  display: inline-block;
  .views-row {
    display: inline-block;
    margin-bottom: $vert-spacing-unit;
    width: 100%;
    padding: 5px;
  }
  .views-field-title {
    margin-bottom: $vert-spacing-unit;
    a {
      color: $bg-dark;
      font-weight: 400;
      @include font-size(25px);
    }
  }
  .views-field-field-blog-media {
    padding-bottom: $vert-spacing-unit;
    text-align: center;
  }
  .views-field-body {
    a {
      @include link-colors($bg-dark, $bg-dark, $bg-dark, $bg-dark, $bg-dark);
      text-decoration: none;
    }
  }
}

@include breakpoint($small-tab-portrait) {
  .view-blog-listing {
    clear:both;
    display: inline-block;
    .views-row {
      display: inline-block;
      margin-bottom: $vert-spacing-unit;
      width: 100%;
    }
    .views-field-title {
      margin-bottom: $vert-spacing-unit;
    }
    .views-field-field-blog-media {
      display: inline-block;
      padding-right: $horz-spacing-unit;
      padding-bottom: $vert-spacing-unit;
      float: left;
    }
    .views-field-body {
      a {
        @include link-colors($bg-dark, $bg-dark, $bg-dark, $bg-dark, $bg-dark);
        text-decoration: none;
      }
    }

    .views-field-created {
      padding-left: 234px;
    }
  }
}


.page-blog {
  .views-field-field-blog-media {
    display: inline-block;
    padding-right: $horz-spacing-unit;
    padding-bottom: $vert-spacing-unit;
    float: left;
    height:210px;
  }
}
