.view-holidays {
  .views-row {
    margin-bottom: $vert-spacing-unit*2;
    margin-top: $vert-spacing-unit*2;

    .views-field-field-holiday-gallery {
      margin-bottom: $vert-spacing-unit;
    }
    .views-field-title {
      margin-bottom: $vert-spacing-unit;
      a {
        color: $bg-dark;
        font-weight:400;
      }
    }
    .views-field-body {
    }
    .views-field-field-holiday-price {
      @include font-size(34px);
      font-weight: bold;
      margin-bottom: $vert-spacing-unit;
    }
    .views-field-nothing {
      display: inline-block;
      float: left;
      a {
        background: $bg-light;
        font-family: $shadow-light;
        &:hover {
          background: $bg-dark;
        }
      }
    }
    .views-field-field-holiday-accessibility {
      display: inline-block;
      margin-top: 7px;
      margin-left: 10px;
      .mini-icon {
        float: left;
        padding-right: $horz-spacing-unit;
      }
    }

  }
}

@include breakpoint($mobile-landscape) {
  .view-holidays {
    .views-row {
      width: 400px;
      margin: $vert-spacing-unit auto;
    }
  }
}

@include breakpoint($small-tab-portrait) {
  .view-holidays {
    .views-row {
      width: 50%;
      float: left;
      margin-bottom: $vert-spacing-unit;
      &:nth-child(4n-1) {
        clear:left!important;
        padding: 0;
        padding-right: $horz-spacing-unit;
      }
      &:nth-child(2n) {
        padding: 0;
        padding-left: $horz-spacing-unit;
      }
    }
  }
}

@include breakpoint($tablet-landscape) {
  .view-holidays {
    .views-row {
      clear:none!important;
      width: 33.3333%;
      float: left;
      margin-bottom: $vert-spacing-unit;
      &:nth-child(4n-1) {
        clear:none!important;
        padding: 0;
        padding-right: $horz-spacing-unit;
      }
      &:nth-child(1) {
        clear:left!important;
        padding: 0;
        padding-right: $horz-spacing-unit;
      }
      &:nth-child(2) {
        padding: 0 $horz-spacing-unit/2;
      }
      &:nth-child(3) {
        padding: 0;
        padding-left: $horz-spacing-unit;
      }
      &:nth-child(4) {
        clear:left!important;
        padding: 0;
        padding-right: $horz-spacing-unit;
      }
      &:nth-child(5) {
        padding: 0 $horz-spacing-unit/2;
      }
      &:nth-child(6) {
        padding: 0;
        padding-left: $horz-spacing-unit;
      }
      &:nth-child(7) {
        clear:left!important;
        padding: 0;
        padding-right: $horz-spacing-unit;
      }
      &:nth-child(8) {
        padding: 0 $horz-spacing-unit/2;
      }
      &:nth-child(9) {
        padding: 0;
        padding-left: $horz-spacing-unit;
      }
      &:nth-child(10) {
        clear:left!important;
        padding: 0;
        padding-right: $horz-spacing-unit;
      }
      &:nth-child(11) {
        padding: 0 $horz-spacing-unit/2;
      }
      &:nth-child(12) {
        padding: 0;
        padding-left: $horz-spacing-unit;
      }
    }
  }
}