.view-reviews-listings {
  li.views-row {
    list-style-image: url("../images/quotemarks.png");
    margin-bottom: $vert-spacing-unit*3;
    .views-field-field-client-name,
    .views-field-field-review-holiday {
      display: block;
      float: right;
      padding-right: $horz-spacing-unit;
    }
    .views-label {
      font-weight: bold;
    }
  }
}


.block--views-reviews-listings-block-2 {
  width: 100%;
  float:left;

  a {
    width:200px;
    background: $bg-light;
    height:50px;
    text-decoration:none;
    padding:10px;
    margin-left: 30px;
  }

  .block__title {
    padding-top: $vert-spacing-unit;
  }

}

.block--views-reviews-listings-block-1 {
  width: 100%;
  float:left;

  a {
    width:200px;
    background: $bg-light;
    height:50px;
    text-decoration:none;
    padding:10px;
    margin-left: 30px;
  }
}


@include breakpoint ($tablet-landscape,true) {

  .block--views-reviews-listings-block-2 {
    width: 50%;
    float:left;
  }

}