/*
.block--views-document-listing-block {

  padding-top: $vert-spacing-unit;

  .block__title {
    color: $black;
    font-weight: 700;
    font-family: $open-sans;
    @include font-size(22px);

  }

  ul {
    padding-left: 0px;
  li {
    list-style-type:none;
    a {
      text-decoration:underline;
    }
  }
  }

}
*/

.block--views-document-listing-block {
  .block__title {
    color: $black;
    padding-top: 15px;
    font-family:$open-sans;
    @include font-size(24px);
    background-image: url('../images/pdf.png');
    background-repeat:no-repeat;
    background-position: right center;
  }
  a {
    color: $dark-blue;
    &:visited {
      color: $dark-blue;
    }
  }

  ul {
    padding-left: 0px;

  li {
    list-style-type:none;
  }
}

  .file-icon {
    display:none;
  }
}