.block--views-about-door-to-door-block {
  display: inline-block;
  margin-bottom: $vert-spacing-unit;
  .view-about-door-to-door {
    .views-field-field-image {
      width:100%;
      float:right;
      margin-bottom: $vert-spacing-unit;
      img {
        width:100%;
      }
    }
    .views-field-title {
      margin-top: $vert-spacing-unit;
      margin-bottom: $vert-spacing-unit;
      a {
        font-weight: 400;
        color: $bg-dark;
        margin-top:30px;
      }
    }
    .views-field-body {
      width:100%;
      img {
        width:100%;
        display:none;
      }
    }
  }
}


@include breakpoint($tab,true) {
  .block--views-about-door-to-door-block {
    display: inline-block;
    margin-bottom: $vert-spacing-unit;
    .view-about-door-to-door {
      .views-field-field-image {
        padding-left:10px;
        margin-top: 50px;
        width: 40%;
        float: right;
      }
      .views-field-title,
      .views-field-body {
        width: 100%;
      }
      .views-field-title {
        margin-bottom: $vert-spacing-unit;
      }
    }
  }
}
