.l-region--footer-second {
  width:100%!important;
  .block--menu-menu-more-information {
    padding-top: $vert-spacing-unit;
    h2.block__title {
      color: $white;
      font-family: $open-sans;
      @include font-size(20px);
    }

    ul.menu {
      @include no-bullets;
      margin: 0;
      padding: 0;
      li {

      }
      .delimiter {
        display: none;
      }
      a {
        @include link-colors($white, $bg-light, $white, $white, $white);
        @include font-size(14px);
        line-height: 28px;
        text-decoration: none;
      }
    }
  }

  .block--multiblock-3 {
    padding-top: $vert-spacing-unit;
    .block__title {
      color: $white;
      font-family: $open-sans;
      @include font-size(20px);
    }
    .view-social-icons {
      display: inline-block;
      float: left;
      .views-row {
        float: left;
        margin-right: 5px;
      }
    }
  }
}

@include breakpoint ($small-tablet-landscape,true) {
.l-region--footer-second {
  width: 33.33%!important;
}
}