.l-region--footer-third {
  .block--webform-client-block-213 {
    clear: both;
    padding-top: $vert-spacing-unit;
    h2.block__title {
      color: $white;
      font-family: $open-sans;
      @include font-size(20px);
    }
    .webform-client-form-213 {
      padding-top: $vert-spacing-unit;
    }

    .webform-submit {
      float:right;
      height: 30px;
      @include font-size(16px);
    }
  }
}

@include breakpoint($desk) {
  .l-region--footer-third {
    .block--webform-client-block-213 {
      padding-top: $vert-spacing-unit;
      h2.block__title {
        color: $white;
      }
      .webform-client-form-213 {
        padding-top: $vert-spacing-unit;
      }
    }
  }
}
