.l-region--footer-first {
  padding-top: $vert-spacing-unit;
  h2.block__title {
    font-family: $open-sans;
    @include font-size(20px);
    color: $white;
  }
  .view-holidays-menu {
    .item-list {
      ul {
        @include no-bullets;
        margin: 0;
        padding: 0;
        li {

        }
        a {
          @include link-colors($white, $bg-light, $white, $white, $white);
          @include font-size(14px);
          line-height: 28px;
          text-decoration: none;
        }
      }
    }
  }
}