.block--webform-client-block-216 {
  max-width: 100%;
  background: $bg-light;
  padding: $vert-spacing-unit $horz-spacing-unit;
  .block__title {
    font-family: $open-sans;
    color: $white;
    @include font-size(27px);
    margin-bottom: $vert-spacing-unit;
  }
  .form-actions {
    text-align:right;
  }
  .button--primary {
    background: $bg-dark;
  }

  textarea {
    max-width:100%;
    min-width:100%;
  }
}