/**
 * $FORM-ITEM
 */
.form-item {
  color: $black;

  label {
    margin-bottom: 0.4em;
  }
  .form-select,
  .form-text,
  .form-textarea {
    width: 100%;
    padding: 0.6em;
    background-color: #fff;
    border: 1px solid $light-grey;
    color: $black;
    vertical-align: middle;
  }
  .description {
    margin-top: 0.2em;
    font-style: italic;
  }
}

.container-inline {
  .form-select,
  .form-text,
  .form-textarea {
    width: auto;
  }
}
