.block--menu-menu-blog-categories {
  width:100%;
  float:left;
  h2.block__title {
    margin-bottom: $vert-spacing-unit;
    color: $black;
    font-family: $open-sans;
    font-weight: 400;
    @include font-size(24px);
  }
  .menu {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      border-bottom: solid 1px $bg-dark;
    }
  }
  a {
    @include link-colors($bg-dark, $bg-dark, $bg-dark, $bg-dark, $bg-dark);
    text-decoration: none;
    font-size: 120%;
    font-weight: 700;
    text-decoration: none;
    line-height: 2.2;
  }
}