.block--menu-menu-secondary-menu {
  display:none;
  .menu {
    margin-top:25px;
    @extend %hlist;
    float: right;
  }
}

@include breakpoint($small-tab-portrait) {
  .block--menu-menu-secondary-menu {
    display: block;
    .menu {
      float: right;
    }
    a {
      font-size:13px!important;
      font-family: $open-sans;
      font-weight: 700;
      @include link-colors($black, $black, $black, $black, $black);
      text-decoration: none;
      padding: $vert-spacing-unit $horz-spacing-unit/2;
    }

    li {
      text-align: center;
    }
    li.last.leaf {
      a {
        padding-right: 0;
      }
    }
  }
}

@include breakpoint($tablet-landscape) {
  .block--menu-menu-secondary-menu {
    margin-top: $vert-spacing-unit;
    display: block;
    .menu {
      float: right;
    }
    a {
      @include link-colors($black, $black, $black, $black, $black);
      text-decoration: none;
      font-weight: 700;
      padding: $vert-spacing-unit $horz-spacing-unit/2;
    }

    li {
      text-align: center;
    }
    li.last.leaf {
      a {
        padding-right: 0;
      }
    }
  }
}

@include breakpoint($desk) {
  .block--menu-menu-secondary-menu {
    margin-top: 0;
    display: block;
  }
}