/**
 * $BREADCRUMB
 */
.breadcrumb {
  @extend %hlist;
  margin-bottom: $vert-spacing-unit;

  li {
    padding-right: 0.4em;

    &:after {
      content: "»";
      padding-left: 0.4em;
      vertical-align: baseline;
    }
    &:last-child:after {
      content: "";
    }
  }

  a {
    @include link-colors($bg-dark, $bg-dark, $bg-dark, $bg-dark, $bg-dark);
    text-decoration: none;
  }
}
