.block--system-main-menu {
  display: none;
  .menu {
    @extend %hlist;
  }
}


@include breakpoint($mobile-landscape) {
  .block--system-main-menu {
    display: block;
    a {
      color:$white!important;
      @include font-size(12px);
      @include link-colors($white, $white, $white, $white, $white);
      text-decoration: none;
      font-weight: 700;
      padding: $vert-spacing-unit/2 0;
      display: inline-block;
      &:hover {
        background: $bg-light;
      }
    }
    li {
      width: 25%;
      text-align: center;
    }
    li.first {
      text-align:left;
      width: 20%;
    }
    li.last {
      text-align:right;
      width: 30%;
    }
  }
}

@include breakpoint($tablet-portrait) {
  .block--system-main-menu {
    display: block;
    a {
      color:$white!important;
      @include font-size(16px);
      @include link-colors($white, $white, $white, $white, $white);
      text-decoration: none;
      font-weight: 700;
      padding: $vert-spacing-unit/2 0;
      display: inline-block;
      &:hover {
        background: $bg-light;
      }
    }
    li {
      width: 25%;
      text-align: center;
    }
    li.first {
      text-align:left;
      width: 20%;
    }
    li.last {
      text-align:right;
      width: 30%;
    }
  }
}
